<div class="d-flex flex-grow-1 flex-column h-100" style="overflow: hidden">
  <mat-toolbar style="height: 48px; min-height: 48px; max-height: 48px">
    <button mat-button [color]="razor ? 'primary' : 'accent'" (click)="angular = false; razor = true;">Razor</button>
    <button mat-button [color]="angular ? 'primary' : 'accent'" (click)="angular = true; razor = false;" >Angular</button>
  </mat-toolbar>
  <div class="d-flex flex-column flex-grow-1 core-flex-host" style="background: white">
    <div class="core-flex-fix" *ngIf="razor">
      <iframe
              src="/api/razor?template=00000000-0000-0000-0000-000000000000"
              id="StiReportDesignerFrame"
              style="border:none; overflow: hidden"
              frameborder="0" allowfullscreen
              width="100%" height="100%">
      </iframe>
    </div>


    <div #host class="core-flex-fix" *ngIf="angular" (window:resize)="updateHeight(host.clientHeight)">
      <stimulsoft-designer-angular
                                   (designerLoaded)="updateHeight(host.clientHeight)"
                                   [requestUrl]="'/api/angular?template=' + '00000000-0000-0000-0000-000000000000'"
                                   width="100%"
                                   [height]="clientHeight">
      </stimulsoft-designer-angular>
    </div>

  </div>
</div>
